# Node modules
frontend/node_modules/
backend/node_modules/

# Angular
frontend/.angular/

# Build
frontend/dist/
backend/dist/

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/settings.json

# Environment
.env